# =========================
# Java / Maven
# =========================
target/
*.jar
*.war
*.log

# Maven Wrapper
.mvn/wrapper/maven-wrapper.jar

# =========================
# IDEs
# =========================
.idea/
*.iml
*.iws
*.ipr

.vscode/*
!.vscode/launch.json
!.vscode/tasks.json
!.vscode/tasks.json
!.vscode/extensions.json

# Eclipse / STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Env / Secrets
# =========================
.env
*.env

# Kubernetes secrets (importante)
*.secret.yaml

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# Docker
# =========================
docker-compose.override.yml


# =========================
# Helm
# =========================
platform/helm/atlas-commerce/values/secrets-local.yaml

# =========================
# Files to be ignored in the repository
# =========================

para_produccion.txt
flujo.txt
