aws_region = "eu-central-1"

project     = "atlas-commerce"
environment = "shared"

repository_prefix = "atlas-commerce"

repository_names = [
  "api-gateway",
  "auth-service",
  "catalog-service",
  "order-service",
  "inventory-service",
  "payment-service",
  "shipping-service",
  "notification-service",
  "audit-service"
]

scan_on_push                   = true
image_tag_mutability           = "IMMUTABLE"
max_tagged_images              = 20
untagged_image_expiration_days = 7

additional_tags = {
  Purpose = "shared-container-registry"
}